# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# FAISS index — locally build
data/faiss_index/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/ 
